* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #2f4858;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slides-container {
    background-color: #efefef;
    width: 800px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#slide {
    width: 93%;
    height: 90%;
    object-fit: cover;
}

.swipe-left {
    animation: swipe-left 400ms ease-out;
}

@keyframes swipe-left {
    from {
        transform: translateX(100px);
        filter: blur(5px);
    }
    to {
        transform: translateX(0);
        filter: blur(0);
    }
}

.swipe-right {
    animation: swipe-right 400ms ease-out;
}

@keyframes swipe-right {
    from {
        transform: translateX(-100px);
        filter: blur(5px);
    }
    to {
        transform: translateX(0);
        filter: blur(0);
    }
}

.swipe-up {
    animation: swipe-up 400ms ease-out;
}

@keyframes swipe-up {
    from {
        transform: translateY(70px);
        filter: blur(5px);
    }
    to {
        transform: translateY(0);
        filter: blur(0);
    }
}

#nav-bar {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #748ea080;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: opacity 500ms ease-in-out;
}

#nav-bar:hover {
    opacity: 1;
}

.nav-dot {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #516a7b;
    transition: box-shadow 200ms ease-in-out;
}

.nav-dot:hover {
    box-shadow: inset 0 0 10px #ffffff80;
}

#controller {
    height: 50px;
    width: 100%;
    background-color: #516a7b;
    position: absolute;
    bottom: -50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#controller button {
    width: 40px;
    height: 40px;
    border: none;
    margin: 0 5px;
    font-size: 28px;
    background-color: #748ea0;
    border-radius: 4px;
    transition: box-shadow 200ms ease-in-out;
}

#controller button:hover {
    box-shadow: 0 0 10px #00000050;
}
