* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #2f4858;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slides-container {
    background-color: #efefef;
    width: 80vw;
    height: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#slide {
    width: 93%;
    height: 90%;
}

#nav-bar {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #568a68;
    /* opacity: 0.5; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-dot {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #889b5f;
}

#controller {
    height: 50px;
    width: 100%;
    background-color: #32766e;
    position: absolute;
    bottom: -50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#controller button {
    width: 40px;
    height: 40px;
    border: none;
    margin: 0 5px;
    font-size: 28px;
    background-color: #568a68;
}
